# This config is only read by the restic_notify script
# Compatible with s-nail v14.9.24 or higher
export NOTIFICATION_SMTP_URL=smtp.eu.mailgun.org:587

# username and password must be in urlencode'd form to make sure
# a valid URL is formed for s-nail. You can use:
# ` printf %s 'p@$$w0rd'|jq -sRr @uri`
# on your workstation to achieve this. Prefix the printf command 
# with a space to prevent it from being saved to your bash/zsh history
export NOTIFICATION_SMTP_USER=admin@company.biz
export NOTIFICATION_SMTP_PASSWORD=super-secret-smtp-password

export NOTIFICATION_MAIL_FROM=admin@company.biz
export NOTIFICATION_MAIL_TO=admin@company.biz
